<html>
  <head>
    {% include 'header.html' %}
  </head>

  {% include 'navbar.html' %}
  <body>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"> <strong> Drone Conflict Advisory </strong> </div>
      <!-- Table -->
      <table class="table" id = "table_div">
        <thead> 
          <tr> 
            <th>Time</th> 
            <th>Conflict</th> 
            <th>Action(Turn)</th> 
            <th>Gufi</th> 
            <th>Lat</th> 
            <th>Lon</th> 
            <th>Speed</th> 
            <th>Heading</th> 
          </tr> 
        </thead>
        <tbody>
        </tbody>

      </table>
    </div>

    <script type="text/javascript">
    function initialize() {
      var timezone_offset = -8;
       evtSrc.onmessage = function(e) {
          var curr_json = JSON.parse(e.data);
          var coc_flag = curr_json["clearOfConflict"];
          var gufi = curr_json["gufi"];
          var waypts = curr_json["waypoints"];
          waypts = waypts[0];
          var lon = waypts["lon"];
          var lat = waypts["lat"];
          var turn = waypts["turn"];
          var heading = waypts["heading"];
          var speed = waypts["speed"];
          var curr_time = new Date( new Date().getTime() + timezone_offset * 3600 * 1000).toUTCString().replace( / GMT$/, "" );
          var new_entry;
          if (coc_flag === "false"){
            new_entry = '<tr style="background-color:#D94E51"> <th scope=\"row\">' + curr_time +'</th> <td><b>' + coc_flag + '</b></td> <td style="width: 90px;">' + turn + '</td> <td>' + gufi + '</td>  <td>' + lat + '</td> <td>' + lon + '</td>  <td>' + speed + '</td> <td>' + heading + '</td> </tr>';
          }else{
            new_entry = '<tr style="background-color:#84C477"> <th scope=\"row\">' + curr_time +'</th> <td>' + coc_flag + '</td> <td style="width: 90px;">' + turn + '</td> <td>' + gufi + '</td>  <td>' + lat + '</td> <td>' + lon + '</td>  <td>' + speed + '</td> <td>' + heading + '</td> </tr>';
          }
          $('#table_div').prepend(new_entry);
     };

    }


     var eventOutputContainer = document.getElementById("event");
     var evtSrc = new EventSource("/advisory_drone_3");

   </script>

  <script type="text/javascript">
      google.maps.event.addDomListener(window, 'load', initialize);
  </script>

  </body>
</html>