<!DOCTYPE html>
<html>
    <head>
            {{"decoupled-map"|googlemap_js(37.4419, -122.1419, markers=[(37.4419, -122.1419)])}}
            {{mymap.js}}
            {{sndmap.js}}
    </head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    
     <h1>Server sent events</h1>
     

    <div id="event"></div>
         
    <script type="text/javascript">
         var eventOutputContainer = document.getElementById("event");
         var evtSrc = new EventSource("/subscribe");

         evtSrc.onmessage = function(e) {
             console.log(e.data);
             eventOutputContainer.innerHTML = e.data;
         };
     </script>

    <script type=text/javascript>

    console.log('beignning of script')

    function doPoll(){
        console.log("inside poll");
        $.ajax({
            url:'/test_poll',
            data: 'hihi',
            type: 'POST',
            success:function(response){
                console.log(response);
                setTimeout(doPoll,1000);
            },
            error: function(error){
                console.log(error);
                setTimeout(doPoll,1000);
            }
        });
    }

    // doPoll();


    // console.log(source);
        // var source = new EventSource("https://127.0.0.1:6379/chat");

        // console.log(source);
        // source.onmessage = function (event) {
        //     console.log(event.data);
        //     console.log(event);
        //      alert(event.data);
        // };

        // source.addEventListener('chat', function(e) {
        //   console.log(e.data);
        // }, false);


        // var socket = io.connect('http://' + document.domain + ':' + location.port);


        // socket.on('connect', function() {           
        //     console.log('socket connected');
        // });

        // socket.on('somerandomevent', function(msg) {
        //     console.log("123");
        //     console.log(msg);
        //     $('#log').append('<p>Received: ' + msg.data + '</p>');
        //     socket.emit('my event', {data: 'I\'m connected!'});
        // });

        // socket.on('my response', function(msg) {
        //     console.log("my response");
        //     console.log(msg);
        //     $('#log').append('<p>Received: ' + msg.data + '</p>');
        //     socket.emit('my event', {data: 'I\'m connected!'});
        // });



    // socket.on('my event', function(data){ console.log(data);});

    </script>
    <script type="text/javascript" charset="utf-8">
            //
    </script>
    
    <body>
        <button onclick="alert('Geocode: {{ geocode[0] }} {{geocode[1]}} ' )" />
        <h1 id="tit">Flask Google Maps Example</h1>
        <div id="log"> hello how are you</div> 
        <h2> Template function with multiple markers </h2>
        {% with map=googlemap_obj("another-map", 37.4419, -122.1419, markers=[(37.4419, -122.1419), (37.4300, -122.1400)]) %}
            {{map.html}}
            {{map.js}}
        {% endwith %}

        <!--
        <h2> Template function centered, no marker </h2>
        {{googlemap("simple-map", 37.4419, -122.1419)}}

        <h2> Template filter decoupled with single marker </h2>
        {{"decoupled-map"|googlemap_html(37.4419, -122.1419)}}

        <h2> First map generated in view</h2>
        {{mymap.html}}

        <h2> Second map generated in view</h2>
        <h3> Example for different icons in multiple markers</h3>
        {{sndmap.html}}
        -->
    </body>
</html>