<html>
  <head>
    <style>
      #map {
        width: 500px;
        height: 400px;
      }
    </style>
  
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/static/js/jquery-1.11.2.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <!--script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script-->

  </head>

  <body>
    <h1>Discra Visualization</h1>
    <div id="map"></div>
    <div id="log"> this is the log </div>
    <div id="event">event</div>


    <script async defer
        src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
    

    <script type="text/javascript">
      // var mapMarkers = [];
      // var maker = new google.maps.Marker({
      //       position: {lat: -34.340 + Math.random() * 0, lng: 150.644 + Math.random() * 0},
      //       title: "hello2",
      //   });
      // mapMarkers.push({lat: -34.340 + Math.random() * 0, lng: 150.644 + Math.random() * 0});
      // var map;
    // Latitude: -85 to +85 (actually -85.05115 for some reason)
    // Longitude: -180 to +180

    // function initMap() {
    //   var mapDiv = document.getElementById('map');
    //   var map = new google.maps.Map(mapDiv, {
    //     center: {lat: 37.424106, lng: -122.166076},
    //     zoom: 12
    //   });
    //   console.log(mapMarkers);
    //   for (i = 0; i < mapMarkers.length; i++) {
    //     console.log(mapMarkers[i]);
    //     // mapMarkers[i].setMap(map);
    //     // maker.setMap(map);

    //     var marker = new google.maps.Marker({
    //         position: mapMarkers[i],
    //         title: 'Hello World!',
    //         map: map
    //       });
    //   }

    //   console.log(map);
    //   console.log('logged map above');
    // }
    var mapMarkers = new Array();
    var map;
    function initMap() {
      latLng = new google.maps.LatLng(37.424106, -122.166076)
      var mapOptions = {
        center: latLng,
        zoom: 10,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("map"), mapOptions);

      var marker = new google.maps.Marker({
          position: latLng,
          title:"Hello World!",
          visible: true
      });
      marker.setMap(map);
    }

     var eventOutputContainer = document.getElementById("event");
     var evtSrc = new EventSource("/subscribe");

     evtSrc.onmessage = function(e) {
         console.log(e.data);
         // eventOutputContainer.innerHTML = e.data;
          $('#log').append('<p>Received: ' + e.data + '</p>');

          var myLatLng = new google.maps.LatLng(37.424106 + Math.random() * 0.0, -122.166076 + Math.random()* 0.00)
          console.log(myLatLng);
          var marker = new google.maps.Marker({
            position: myLatLng,
            title: 'Hello World!',
            // map: map,
            visible: true
          });

          marker.setIcon("http://maps.google.com/mapfiles/ms/micons/blue-dot.png");
          // mapMarkers.push(myLatLng);
          marker.setMap(map);
          // console.log(marker);
          // initMap();  

     };
   </script>

  </body>
</html>