<nav class="navbar navbar-default">
  <div class="container-fluid" style = "background-color:#8c1515">
    <div class="navbar-header" >
      <a class="navbar-brand " href="/"> 
        <span><img  width="50" height="50" src="/static/big_planes/drone_small.png"> </span>
        UTM Discra Visualization
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >Drone Advisories <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/advisory_view_1">Drone 1</a></li>
            <li><a href="/advisory_view_2">Drone 2</a></li>
            <li><a href="/advisory_view_3">Drone 3</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->




  </div><!-- /.container-fluid -->
</nav>